<h2>My portfolios</h2>
<div>
  <label>portfolio name:</label> <input #portfolioName />
  <button (click)="add(portfolioName.value); portfolioName.value=''">
    Add
  </button>
</div>
<ul class="portfolios">
  <li *ngFor="let portfolio of portfolios" (click)="onSelect(portfolio)"
      [class.selected]="portfolio === selectedPortfolio">
<!--     <span class="badge">{{portfolio._id}}</span> -->
    <span>{{portfolio.name}}</span>
    <button class="delete"
      (click)="delete(portfolio); $event.stopPropagation()">x</button>
  </li>
</ul>
<div *ngIf="selectedPortfolio">
  <h2>
    {{selectedPortfolio.name | uppercase}} is my portfolio
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
